@import "nullstyle.scss";
@import "fonts.scss";
@import "vars.scss";

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Ruda';
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    width: 100%;
    background-color: var(--color-black);
    color: var(--color-white);
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body._lock {
    overflow: hidden;
}

.view {
    opacity: 0;
    transform: translateY(70px);
    transition: transform 1s, opacity 1s;
}

.wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.custom__container {
    max-width: 1440px;
    padding: 0px 100px;
    margin: 0 auto;
}

.main {
    flex: 1;
}

.header {
    background-color: var(--color-black);
    position: sticky;
    top: 0;
    z-index: 4;

    &__row {
        padding: 30px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 100px;

        &_box {
            display: flex;
            align-items: center;
            max-width: 812px;
            width: 100%;
            gap: 77px;
            justify-content: space-between;
        }
    }

    &__nav {
        &_menu {
            display: flex;
            gap: 40px;
        }

        &_stroke {
            stroke: var(--color-white);
            transition: stroke 0.3s ease-in;
        }

        &_tg {
            &_fill {
                fill: var(--color-white);
                transition: fill 0.3s ease-in;
            }
        }

        &_vk {
            &_rect {
                stroke: var(--color-white);
                transition: stroke 0.3s ease-in;
            }
        }

        &_link {
            font-size: 16px;
            font-weight: 700;
            line-height: 19.47px;
            color: var(--color-white);
            transition: color 0.3s ease-in;

            &:hover {
                color: var(--color-primary);
            }
        }

        &_social {
            display: none;
        }
    }

    &__social {
        display: flex;
        gap: 20px;

        &_link {
            display: flex;

            &:hover {
                .header__nav_stroke {
                    stroke: var(--color-primary);
                }

                .header__nav_tg_fill {
                    fill: var(--color-primary);
                }

                .header__nav_vk_rect {
                    stroke: var(--color-primary);
                }
            }

        }
    }

    &__burger {
        display: none;
    }
}

.info {
    padding-top: 70px;
    margin-bottom: 70px;

    &__head {
        font-family: "Raleway";
        font-size: 47px;
        text-transform: uppercase;
        font-weight: 700;
        line-height: 55.18px;
        letter-spacing: 0.056em;
        -webkit-text-stroke: 1px black;
        text-shadow: 2px 1px 0 var(--color-primary);
        margin-bottom: 50px;
    }

    &__row {
        display: flex;
        justify-content: space-between;
        gap: 150px;
    }

    &__box {
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-width: 250px;
        width: 100%;


        &_head {
            font-family: "Raleway";
            font-weight: 700;
            font-size: 30px;
            line-height: 35.22px;
        }

        &_tele {
            display: flex;
            align-items: center;
            gap: 10px;
            font-weight: 700;
            font-size: 24px;
            line-height: 31.2px;
            color: var(--color-primary);
        }

        &_time {
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;
            max-width: 200px;
        }
    }

    &__map {
        max-width: 620px;
        width: 100%;

        &_head {
            font-family: "Raleway";
            font-weight: 700;
            font-size: 30px;
            line-height: 35.22px;
            margin-bottom: 20px;
        }

        &_wrapper {
            width: 100%;
            position: relative;
            height: 365px;
            margin-bottom: 10px;
        }

        &_addres {
            font-weight: 700;
            font-size: 20px;
            line-height: 30px;
            color: var(--color-primary);
        }
    }
}

#map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

[class*="copyrights-pane"] {
    display: none !important;
}

.footer {
    background-color: var(--color-gray);

    &__wrapper {
        border-bottom: 1px solid var(--color-primary);
    }

    &__top {
        &_row {
            display: flex;
            justify-content: space-between;
            gap: 50px;
            flex-wrap: wrap;
        }

        &_content {
            padding-top: 60px;
            padding-bottom: 71px;
        }

        &_item {
            max-width: 305px;
            width: 100%;
        }

        &_info {
            max-width: 155px;
        }
    }

    &__logo {
        margin-bottom: 20px;
    }

    &__descr {
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        color: var(--color-lgray);
        margin-bottom: 20px;
    }

    &__addres {
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        color: var(--color-primary);
    }

    &__menu {
        &_list {
            display: flex;
            flex-direction: column;
            gap: 6px;
            max-width: 128px;
            width: 100%;
        }

        &_item {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: var(--color-lgray);
            transition: color 0.3s ease-in;

            &:hover {
                color: var(--color-primary);
            }
        }
    }

    &__phone {
        font-weight: 700;
        font-size: 20px;
        line-height: 26px;
        text-align: right;
        margin-bottom: 28px;
        color: var(--color-primary);
    }

    &__hours {
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        text-align: right;
        max-width: 152px;

        &_work {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            text-align: right;
            color: var(--color-lgray);
        }
    }

    &__bottom {
        &_content {
            padding-top: 15px;
            padding-bottom: 15px;
        }

        &_row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 30px;
            flex-wrap: wrap;
        }

        &_link {
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            color: var(--color-lgray);
        }

        &_copy {
            font-weight: 500;
            font-size: 12px;
            line-height: 20px;
            color: var(--color-lgray);
        }
    }
}


@media screen and (max-width : 1255px) {
    .info__head {
        font-size: 40px;
        line-height: 52.5px;
    }
}

@media screen and (max-width : 1100px) {
    .header {
        &__row {
            gap: 30px;

            &_box {
                max-width: 251px;
            }
        }

        &__social {
            display: none;
        }

        &__burger {
            z-index: 5;
            display: block;
            position: relative;
            width: 40px;
            height: 30px;
            cursor: pointer;

            span,
            &::before,
            &::after {
                left: 0;
                position: absolute;
                height: 11%;
                width: 100%;
                transition: all 0.3s ease 0s;
                background-color: var(--color-primary);
            }

            &::before,
            &::after {
                content: '';
            }

            &::before {
                top: 0;
            }

            &::after {
                bottom: 0;
            }

            span {
                top: 50%;
                transform: scale(1) translate(0px, -50%);
            }

            &._active span {
                transform: scale(0) translate(0px, -50%);
            }

            &._active::before {
                top: 50%;
                transform: rotate(-45deg) translate(0px, -50%);
            }

            &._active::after {
                bottom: 50%;
                transform: rotate(45deg) translate(0px, 50%);
            }
        }

        &__nav {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 50px;
            position: fixed;
            top: 0;
            right: -100%;
            width: 50%;
            height: 100%;
            background-color: var(--color-black);
            padding: 100px 100px 30px 30px;
            transition: right 0.3s ease 0s;
            overflow: auto;
            z-index: 5;

            &_menu {
                display: flex;
                flex-direction: column;
                gap: 20px;
            }

            &_social {
                display: flex;
                gap: 20px;
            }

            &._active {
                right: 0;
            }

            &_background {
                position: fixed;
                top: 0;
                right: -100%;
                width: 100%;
                height: 100%;
                background-color: rgba($color: #000000, $alpha: 0.5);
                z-index: 3;

                &._work {
                    right: 0;
                }
            }
        }
    }
}

@media screen and (max-width : 1023px) {
    .info {
        padding-top: 50px;
        margin-bottom: 50px;

        &__row {
            flex-direction: column;
            gap: 50px;
        }

        &__map {
            max-width: 100%;
        }
    }
}

@media screen and (max-width : 950px) {
    .footer {
        &__phone {
            text-align: left;
        }

        &__hours {
            text-align: left;

            &_work {
                text-align: left;
            }
        }
    }
}

@media screen and (max-width : 676px) {
    .custom__container {
        padding: 0 50px;
    }

    .header {
        &__row {
            gap: 30px;

            &_box {
                max-width: 150px;
            }
        }

        &__logo {
            width: 150px;
        }

        &__burger {
            width: 30px;
            height: 20px;
        }

        &__nav {
            width: 100%;
            height: 100%;
            background-color: var(--color-black);
            padding: 100px 0px 30px 30px;
            transition: right 0.3s ease 0s;
            overflow: auto;
            z-index: 5;

            &_link {
                font-size: 22px;
                line-height: 25.47px;
            }
        }
    }

    .info {
        padding-top: 30px;
        margin-bottom: 30px;

        &__row {
            gap: 20px;
        }

        &__head {
            font-size: 30px;
            line-height: 34.5px;
            margin-bottom: 20px;
        }

        &__box {
            gap: 10px;

            &_head {
                font-size: 18px;
                line-height: 23.22px;
            }

            &_tele {
                font-size: 16px;
                line-height: 21.2px;

                svg {
                    height: 30px;
                    width: 30px;
                }
            }

            &_time {
                font-size: 14px;
                line-height: 24px;
                max-width: 140px;
            }
        }

        &__map {
            &_wrapper {
                height: 175px;
            }

            &_head {
                font-size: 18px;
                line-height: 23.22px;
            }

            &_addres {
                font-size: 14px;
                line-height: 24px;
            }
        }

    }

    .btn-up {
        right: 50px;
    }

    .footer {
        &__top {
            padding-top: 50px;
            padding-bottom: 50px;

            &_row {
                gap: 20px;
            }
        }

        &__logo {
            width: 150px;
        }

        &__descr {
            font-size: 12px;
            line-height: 19px;
        }

        &__addres {
            font-size: 12px;
            line-height: 19px;
        }

        &__menu {
            &_item {
                font-size: 14px;
                line-height: 22px;
            }
        }

        &__phone {
            font-size: 18px;
            line-height: 24px;
            margin-bottom: 24px;
        }

        &__hours {
            font-size: 14px;
            line-height: 22px;

            &_work {
                font-size: 14px;
                line-height: 22px;
                max-width: 140px;
            }
        }

        &__bottom {
            padding: 10px 0;

            &_row {
                gap: 20px;
            }
        }
    }
}