@import "nullstyle.scss";
@import "fonts.scss";
@import "vars.scss";

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Ruda';
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    width: 100%;
    background-color: var(--color-black);
    color: var(--color-white);
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.view {
    opacity: 0;
    transform: translateY(70px);
    transition: transform 1s, opacity 1s;
}

body._lock {
    overflow: hidden;
}

.wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.custom__container {
    max-width: 1440px;
    padding: 0px 100px;
    margin: 0 auto;
}

.main {
    flex: 1;
}

.swiper {
    &-pagination {
        &-bullets {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 3px;
            width: 100%;
            margin: 0 auto;
            height: 16px;
        }
    }
}

.swiper-pagination-bullets .swiper-pagination-bullet {
    background: var(--color-primary);
    width: 12px;
    height: 12px;
    transition: all 0.3s ease-in;
}

.swiper-pagination-bullets .swiper-pagination-bullet-active {
    background: var(--color-primary);
    width: 16px;
    height: 16px;
}

.reviews__button-prev.swiper-button-disabled {
    opacity: 0.3;

    path {
        fill: var(--color-primary)
    }

    &:hover {
        path {
            fill: var(--color-primary)
        }
    }
}

.reviews__button-next.swiper-button-disabled {
    opacity: 0.3;

    path {
        fill: var(--color-primary)
    }

    &:hover {
        path {
            fill: var(--color-primary)
        }
    }
}

.header {
    background-color: var(--color-black);
    position: sticky;
    top: 0;
    z-index: 4;

    &__row {
        padding: 30px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 100px;

        &_box {
            display: flex;
            align-items: center;
            max-width: 812px;
            width: 100%;
            gap: 77px;
            justify-content: space-between;
        }
    }

    &__nav {
        &_menu {
            display: flex;
            gap: 40px;
        }

        &_stroke {
            stroke: var(--color-white);
            transition: stroke 0.3s ease-in;
        }

        &_tg {
            &_fill {
                fill: var(--color-white);
                transition: fill 0.3s ease-in;
            }
        }

        &_vk {
            &_rect {
                stroke: var(--color-white);
                transition: stroke 0.3s ease-in;
            }
        }

        &_link {
            font-size: 16px;
            font-weight: 700;
            line-height: 19.47px;
            color: var(--color-white);
            transition: color 0.3s ease-in;

            &:hover {
                color: var(--color-primary);
            }
        }

        &_social {
            display: none;
        }
    }

    &__social {
        display: flex;
        gap: 20px;

        &_link {
            display: flex;

            &:hover {
                .header__nav_stroke {
                    stroke: var(--color-primary);
                }

                .header__nav_tg_fill {
                    fill: var(--color-primary);
                }

                .header__nav_vk_rect {
                    stroke: var(--color-primary);
                }
            }

        }
    }

    &__burger {
        display: none;
    }
}

.hero {
    margin-bottom: 70px;
    padding-top: 70px;

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 50px;
    }

    &__block {
        max-width: 563px;

        &_row {
            display: flex;
            gap: 20px;
            min-height: 51px;
        }

        &_head {
            font-family: 'Raleway';
            font-size: 47px;
            text-transform: uppercase;
            font-weight: 700;
            line-height: 59.5px;
            margin-bottom: 25px;
            letter-spacing: .056em;

            &-cool {
                -webkit-text-stroke: 1px black;
                padding-left: 4px;
                text-shadow: 2px 1px 0 var(--color-primary);
            }
        }

        &_descr {
            margin-bottom: 50px;
            font-size: 18px;
            line-height: 27px;
            font-weight: 500;
            max-width: 390px;
        }

        &_btn {
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 160px;
            width: 100%;
            padding: 12px 0;
            font-family: 'Raleway';
            font-size: 20px;
            line-height: 23.48px;
            font-weight: 700;

            &-fst {
                color: var(--color-black);
                background-color: var(--color-primary);
                border: 2px solid;
                border-color: var(--color-primary);
                transition: background-color 0.3s ease-in, border-color 0.3s ease-in;

                &:hover {
                    background-color: var(--color-primary-hover);
                    border-color: var(--color-primary-hover);
                }
            }

            &-sec {
                color: var(--color-primary);
                background-color: transparent;
                border: 2px solid;
                border-color: var(--color-primary);
                transition: background-color 0.3s ease-in, color 0.3s ease-in, border-color 0.3s ease-in;

                &:hover {
                    background-color: var(--color-primary-hover);
                    border-color: var(--color-primary-hover);
                    color: var(--color-black);
                }
            }
        }
    }

    &__img {
        outline: 4px solid var(--color-primary);
        outline-offset: -4px;
        max-width: 610px;
        width: calc(52% - 30px);
        height: auto;
    }
}

.found {
    margin-bottom: 70px;

    &__row {
        display: flex;
        gap: 110px;
        align-items: center;
    }

    &__block {
        max-width: 586px;
        padding-bottom: 3px;

        &_head {
            font-family: 'Raleway';
            font-size: 47px;
            text-transform: uppercase;
            font-weight: 700;
            line-height: 55.18px;
            margin-bottom: 50px;
            letter-spacing: .056em;
            -webkit-text-stroke: 1px black;
            text-shadow: 2px 1px 0 var(--color-primary);
            max-width: 410px;
        }
    }

    &__img {
        outline: 4px solid var(--color-primary);
        outline-offset: -4px;
        max-width: 520px;
        width: calc(52% - 30px);
        height: auto;
    }

    &__box {
        display: flex;
        flex-direction: column;
        gap: 20px;

        &_descr {
            font-size: 22px;
            line-height: 28.6px;
            font-weight: 500;

            &-sec {
                max-width: 550px;
            }

            &-main {
                font-weight: 800;
            }
        }
    }

}

.services {
    margin-bottom: 70px;

    &__row {
        display: flex;
        flex-direction: column;
        gap: 30px;

        &_top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 50px;
        }

        &_bottom {
            display: flex;
            flex-wrap: wrap;
            align-items: stretch;
            justify-content: space-between;
            gap: 20px;
        }
    }

    &__head {
        font-family: 'Raleway';
        font-size: 47px;
        text-transform: uppercase;
        font-weight: 700;
        line-height: 55.18px;
        letter-spacing: .056em;
        -webkit-text-stroke: 1px black;
        text-shadow: 2px 1px 0 var(--color-primary);
    }

    &__link {
        display: flex;
        align-items: center;
        gap: 15px;
        font-weight: 900;
        font-size: 20px;
        line-height: 30px;
        color: var(--color-primary);
        transition: color 0.3s ease-in;

        svg {
            path {
                fill: var(--color-primary);
                transition: fill 0.3s ease-in;
            }
        }

        &:hover {
            color: var(--color-primary-hover);

            svg {
                path {
                    fill: var(--color-primary-hover);
                }
            }
        }
    }

    &__item {
        position: relative;
        overflow: hidden;
        flex: 1 1 calc(33% - 10px);
        max-width: calc(33% - 10px);
        padding: 20px;
        display: flex;
        gap: 50px;
        flex-direction: column;
        justify-content: space-between;
        min-height: 275px;

        &:hover {
            .services__body_btn {
                opacity: 1;
            }

            .services__body {
                padding-bottom: 71px;
            }

            .services__block {
                transform: scale(1.1);
            }
        }
    }

    &__block {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        transition: transform 0.3s ease-in;

        &_img {
            width: 100%;
            height: 100%;
        }
    }

    &__time {
        font-weight: 500;
        font-size: 14px;
        line-height: 18.2px;
        display: flex;
        align-items: center;
        gap: 5px;
        z-index: 1;
    }

    &__body {
        transition: all 0.3s ease-in;
        z-index: 1;

        &_price {
            font-weight: 500;
            font-size: 14px;
            line-height: 18.2px;
            color: var(--color-primary);
            margin-bottom: 5px;
        }

        &_name {
            font-family: "Raleway";
            font-weight: 700;
            font-size: 30px;
            line-height: 35.22px;
            text-transform: uppercase;
        }

        &_btn {
            display: flex;
            position: absolute;
            bottom: 20px;
            opacity: 0;
            justify-content: center;
            align-items: center;
            max-width: 160px;
            width: 100%;
            padding: 12px 0;
            font-family: 'Raleway';
            font-size: 20px;
            line-height: 23.48px;
            font-weight: 700;
            color: var(--color-black);
            background-color: var(--color-primary);
            border: 2px solid;
            border-color: var(--color-primary);
            transition: background-color 0.3s ease-in, border-color 0.3s ease-in, opacity 0.3s ease-in;

            &:hover {
                background-color: var(--color-primary-hover);
                border-color: var(--color-primary-hover);
            }
        }
    }
}

.reviews {
    margin-bottom: 98px;

    &__head {
        font-family: "Raleway";
        font-size: 47px;
        text-transform: uppercase;
        font-weight: 700;
        line-height: 55.18px;
        letter-spacing: 0.056em;
        -webkit-text-stroke: 1px black;
        text-shadow: 2px 1px 0 var(--color-primary);
        text-align: center;
        margin-bottom: 20px;
    }

    &__swiper {
        background-color: var(--color-gray);
        margin-bottom: 20px;

        &_slide {
            padding-top: 105px;
            padding-bottom: 100px;
        }
    }

    &__wrapper {
        position: relative;
        margin-bottom: 40px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        max-width: 956px;
        padding-left: 50px;
        padding-right: 50px;

        &_descr {
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;
            max-width: 710px;
            text-align: center;
            margin-bottom: 25px;
        }

        &_line {
            max-width: 821px;
            width: 100%;
            height: 1px;
            background-color: var(--color-primary);
            margin-bottom: 20px;
        }

        &_name {
            font-weight: 700;
            font-size: 24px;
            line-height: 32.4px;
            color: var(--color-primary);
            margin-bottom: 5px;
        }

        &_service {
            font-weight: 400;
            font-size: 16px;
            line-height: 21.6px;
            color: var(--color-lgray);
        }
    }

    &__button {
        &-prev {
            position: absolute;
            top: 47%;
            left: 51px;
            z-index: 10;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;

            path {
                fill: var(--color-primary);
                transition: fill 0.3s ease-in;
            }

            &:hover {
                path {
                    fill: var(--color-primary-hover);
                }
            }
        }

        &-next {
            position: absolute;
            top: 47%;
            right: 51px;
            z-index: 10;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;

            path {
                fill: var(--color-primary);
                transition: fill 0.3s ease-in;
            }

            &:hover {
                path {
                    fill: var(--color-primary-hover);
                }
            }
        }
    }

    &__link {
        display: block;
        font-weight: 700;
        font-size: 18px;
        line-height: 24.3px;
        color: var(--color-primary);
        text-align: center;
        text-decoration: underline;
        transition: color 0.3s ease-in;

        &:hover {
            color: var(--color-primary-hover);
            text-decoration: underline;
        }
    }
}

.entry {
    margin-bottom: 70px;

    &__img {
        outline: 4px solid var(--color-primary);
        outline-offset: -4px;
        max-width: 610px;
        width: calc(52% - 30px);
        height: auto;
    }

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 50px;
    }

    &__body {
        display: flex;
        flex-direction: column;
        gap: 45px;
        max-width: 568px;
    }

    &__box {
        &_head {
            font-family: 'Raleway';
            font-size: 47px;
            text-transform: uppercase;
            font-weight: 700;
            line-height: 55.18px;
            letter-spacing: .056em;
            -webkit-text-stroke: 1px black;
            text-shadow: 2px 1px 0 var(--color-primary);
            max-width: 410px;
            margin-bottom: 24px;
        }

        &_descr {
            font-size: 20px;
            line-height: 28px;
            color: var(--color-lgray);
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    &__input {
        font-weight: 500;
        font-size: 18px;
        line-height: 25.2px;
        color: var(--color-white);
        background: transparent;
        padding-bottom: 8px;
        border-bottom: 1px solid var(--color-primary);

        &::placeholder {
            color: var(--color-primary);
        }

        &:focus {
            outline: none;
        }
    }

    &__check {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    &__checkbox {
        display: none;

        &_text {
            font-weight: 500;
            font-size: 14px;
            line-height: 18.2px;
            color: var(--color-primary);
            max-width: 417px;
            width: 100%;
            cursor: pointer;
            user-select: none
        }

        +label {
            display: inline-block;
            width: 22px;
            height: 22px;
            background-color: transparent;
            border: 1px solid var(--color-primary);
            cursor: pointer;
            color: var(--color-primary);
            flex: 0 0 22px;
        }

        &:checked+label {
            background-image: url('../../images/pressed.svg');
            background-repeat: no-repeat;
            background-position: 50% 50%;
        }
    }

    &__btn {
        font-family: "Raleway";
        font-weight: 700;
        font-size: 20px;
        line-height: 23.48px;
        color: var(--color-black);
        background-color: var(--color-primary);
        padding: 14px 0;
        cursor: pointer;
        transition: background-color 0.3s ease-in;

        &:hover {
            background-color: var(--color-primary-hover);
        }
    }
}

.footer {
    background-color: var(--color-gray);

    &__wrapper {
        border-bottom: 1px solid var(--color-primary);
    }

    &__top {
        &_row {
            display: flex;
            justify-content: space-between;
            gap: 50px;
            flex-wrap: wrap;
        }

        &_content {
            padding-top: 60px;
            padding-bottom: 71px;
        }

        &_item {
            max-width: 305px;
            width: 100%;
        }

        &_info {
            max-width: 155px;
        }
    }

    &__logo {
        margin-bottom: 20px;
    }

    &__descr {
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        color: var(--color-lgray);
        margin-bottom: 20px;
    }

    &__addres {
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        color: var(--color-primary);
    }

    &__menu {
        &_list {
            display: flex;
            flex-direction: column;
            gap: 6px;
            max-width: 128px;
            width: 100%;
        }

        &_item {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: var(--color-lgray);
            transition: color 0.3s ease-in;

            &:hover {
                color: var(--color-primary);
            }
        }
    }

    &__phone {
        font-weight: 700;
        font-size: 20px;
        line-height: 26px;
        text-align: right;
        margin-bottom: 28px;
        color: var(--color-primary);
    }

    &__hours {
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        text-align: right;
        max-width: 152px;

        &_work {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            text-align: right;
            color: var(--color-lgray);
        }
    }

    &__bottom {
        &_content {
            padding-top: 15px;
            padding-bottom: 15px;
        }

        &_row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 30px;
            flex-wrap: wrap;
        }

        &_link {
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            color: var(--color-lgray);
        }

        &_copy {
            font-weight: 500;
            font-size: 12px;
            line-height: 20px;
            color: var(--color-lgray);
        }
    }
}

.btn-up {
    position: fixed;
    background-color: var(--color-primary);
    right: 75px;
    bottom: 100px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    transition: background-color 0.3s ease-in;
    z-index: 1;

    &:hover {
        background-color: var(--color-primary-hover);
    }
}

.btn-up_hide {
    display: none;
}

@media screen and (max-width : 1255px) {
    .hero {
        &__block {
            &_head {
                font-size: 40px;
                line-height: 52.5px;
            }

            &_descr {
                font-size: 16px;
                line-height: 25px;
            }
        }
    }

    .found {
        &__row {
            gap: 50px;
        }

        &__block {
            &_head {
                font-size: 40px;
                line-height: 52.5px;
                max-width: 350px;
            }
        }

        &__box {
            &_descr {
                font-size: 16px;
                line-height: 22.6px;
            }
        }
    }

    .services {
        &__item {
            flex: 1 1 calc(50% - 10px);
            max-width: calc(50% - 10px);
        }

        &__head {
            font-size: 40px;
            line-height: 52.5px;
        }
    }

    .reviews {
        &__head {
            font-size: 40px;
            line-height: 52.5px;
        }

        &__item {
            max-width: 800px;
            padding-left: 100px;
            padding-right: 100px;

            &_descr {
                font-size: 16px;
            }

            &_name {
                font-size: 20px;
            }

            &_service {
                font-size: 14px;
            }
        }

        &__link {
            font-size: 16px;
        }
    }

    .entry {
        &__row {
            align-items: stretch;
        }

        &__body {
            gap: 25px;
        }

        &__box {
            &_head {
                font-size: 40px;
                line-height: 52.5px;
                margin-bottom: 20px;
            }

            &_descr {
                font-size: 16px;
            }
        }

        &__form {
            gap: 30px;
        }
    }
}

@media screen and (max-width : 1100px) {
    .header {
        &__row {
            gap: 30px;

            &_box {
                max-width: 251px;
            }
        }

        &__social {
            display: none;
        }

        &__burger {
            z-index: 5;
            display: block;
            position: relative;
            width: 40px;
            height: 30px;
            cursor: pointer;

            span,
            &::before,
            &::after {
                left: 0;
                position: absolute;
                height: 10%;
                width: 100%;
                transition: all 0.3s ease 0s;
                background-color: var(--color-primary);
            }

            &::before,
            &::after {
                content: '';
            }

            &::before {
                top: 0;
            }

            &::after {
                bottom: 0;
            }

            span {
                top: 50%;
                transform: scale(1) translate(0px, -50%);
            }

            &._active span {
                transform: scale(0) translate(0px, -50%);
            }

            &._active::before {
                top: 50%;
                transform: rotate(-45deg) translate(0px, -50%);
            }

            &._active::after {
                bottom: 50%;
                transform: rotate(45deg) translate(0px, 50%);
            }
        }

        &__nav {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 50px;
            position: fixed;
            top: 0;
            right: -100%;
            width: 50%;
            height: 100%;
            background-color: var(--color-black);
            padding: 100px 100px 30px 30px;
            transition: right 0.3s ease 0s;
            overflow: auto;
            z-index: 5;

            &_menu {
                display: flex;
                flex-direction: column;
                gap: 20px;
            }

            &_social {
                display: flex;
                gap: 20px;
            }

            &._active {
                right: 0;
            }

            &_background {
                position: fixed;
                top: 0;
                right: -100%;
                width: 100%;
                height: 100%;
                background-color: rgba($color: #000000, $alpha: 0.5);
                z-index: 3;

                &._work {
                    right: 0;
                }
            }
        }
    }
}

@media screen and (max-width : 950px) {
    .hero {
        padding-top: 50px;
        margin-bottom: 50px;

        &__block {
            &_head {
                &-cool {
                    padding: 0;
                }
            }

            &_descr {
                margin-bottom: 40px;
            }
        }

        &__img {
            display: none;
        }
    }

    .found {
        margin-bottom: 50px;

        &__row {
            flex-direction: column-reverse;
            gap: 40px;
        }

        &__block {
            max-width: 100%;

            &_head {
                margin-bottom: 25px;
                max-width: 100%;
            }
        }

        &__img {
            max-width: 100%;
            width: 100%;
            max-height: 400px;
            height: auto;
        }
    }

    .services {
        margin-bottom: 50px;

        &__row {
            &_top {
                flex-direction: column;
                align-items: flex-start;
                gap: 20px;
            }
        }
    }

    .reviews {
        margin-bottom: 78px;

        &__swiper {
            &_slide {
                padding-top: 55px;
                padding-bottom: 50px;
            }
        }
    }

    .entry {
        margin-bottom: 50px;

        &__row {
            flex-direction: column;
        }

        &__img {
            max-width: 100%;
            width: 100%;
            max-height: 400px;
            height: auto;
        }

        &__body {
            max-width: 100%;
        }

        &__box {
            &_head {
                max-width: 100%;
            }
        }
    }

    .footer {
        &__phone {
            text-align: left;
        }

        &__hours {
            text-align: left;

            &_work {
                text-align: left;
            }
        }
    }
}

@media screen and (max-width : 800px) {
    .services {
        &__item {
            flex: 1 1 100%;
            max-width: 100%;
        }
    }

    .reviews {
        &__button {
            &-next {
                display: none;
            }

            &-prev {
                display: none;
            }
        }
    }
}

@media screen and (max-width : 676px) {
    .custom__container {
        padding: 0 50px;
    }

    .header {
        &__row {
            gap: 30px;

            &_box {
                max-width: 150px;
            }
        }

        &__logo {
            width: 150px;
        }

        &__burger {
            width: 30px;
            height: 20px;
        }

        &__nav {
            width: 100%;
            height: 100%;
            background-color: var(--color-black);
            padding: 100px 0px 30px 30px;
            transition: right 0.3s ease 0s;
            overflow: auto;
            z-index: 5;

            &_link {
                font-size: 22px;
                line-height: 25.47px;
            }
        }
    }

    .hero {
        padding-top: 30px;
        margin-bottom: 30px;

        &__block {
            &_head {
                font-size: 30px;
                line-height: 34.5px;
                margin-bottom: 20px;
            }

            &_descr {
                font-size: 14px;
                line-height: 23px;
                margin-bottom: 25px;
            }

            &_btn {
                font-size: 16px;
                line-height: 19.48px;
            }
        }
    }

    .found {
        margin-bottom: 30px;

        &__row {
            gap: 20px;
        }

        &__block {
            &_head {
                font-size: 30px;
                line-height: 34.5px;
                margin-bottom: 20px;
            }
        }

        &__box {
            gap: 10px;

            &_descr {
                font-size: 14px;
                line-height: 20.6px;
            }
        }
    }

    .services {
        margin-bottom: 30px;

        &__row {
            gap: 20px;

            &_top {
                gap: 10px;
            }
        }

        &__head {
            font-size: 30px;
            line-height: 34.5px;
        }

        &__link {
            font-size: 14px;

            svg {
                height: 14px;
            }
        }

        &__item {
            min-height: 235px;

            &:hover {
                .services__body {
                    padding-bottom: 51px;
                }
            }
        }

        &__time {
            font-size: 12px;
            line-height: 16px;

            svg {
                height: 14px;
            }
        }

        &__body {
            &_name {
                font-size: 22px;
                line-height: 27.22px;
            }

            &_btn {
                font-size: 16px;
                line-height: 19.48px;
            }
        }
    }

    .reviews {
        margin-bottom: 58px;

        &__head {
            font-size: 30px;
            line-height: 34.5px;
        }

        &__link {
            font-size: 14px;
        }

        &__item {
            padding-left: 20px;
            padding-right: 20px;

            &_descr {
                font-size: 12px;
                margin-bottom: 20px;
            }

            &_name {
                font-size: 16px;
                line-height: 24.4px;
            }

            &_service {
                font-size: 12px;
            }
        }
    }

    .entry {
        margin-bottom: 30px;

        &__row {
            gap: 20px;
        }

        &__box {
            &_head {
                font-size: 30px;
                line-height: 34.5px;
            }

            &_descr {
                font-size: 14px;
            }
        }

        &__body {
            gap: 20px;
        }

        &__input {
            font-size: 16px;
            line-height: 23.2px;
        }

        &__checkbox {
            &_text {
                font-size: 11px;
                line-height: 14.2px;
            }
        }

        &__btn {
            font-size: 16px;
            line-height: 19.48px;
        }
    }

    .btn-up {
        right: 50px;
    }

    .footer {
        &__top {
            padding-top: 50px;
            padding-bottom: 50px;

            &_row {
                gap: 20px;
            }
        }

        &__logo {
            width: 150px;
        }

        &__descr {
            font-size: 12px;
            line-height: 19px;
        }

        &__addres {
            font-size: 12px;
            line-height: 19px;
        }

        &__menu {
            &_item {
                font-size: 14px;
                line-height: 22px;
            }
        }

        &__phone {
            font-size: 18px;
            line-height: 24px;
            margin-bottom: 24px;
        }

        &__hours {
            font-size: 14px;
            line-height: 22px;

            &_work {
                font-size: 14px;
                line-height: 22px;
                max-width: 140px;
            }
        }

        &__bottom {
            padding: 10px 0;

            &_row {
                gap: 20px;
            }
        }
    }


    .swiper-pagination-bullets .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
    }

    .swiper-pagination-bullets .swiper-pagination-bullet-active {
        background: var(--color-primary);
        width: 12px;
        height: 12px;
    }

}