* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: local("Raleway-Bold"), url("../../fonts/Raleway-Bold.woff") format("woff");
}
@font-face {
  font-family: "Ruda";
  font-style: normal;
  font-weight: 500;
  src: local("Ruda-Medium"), url("../../fonts/Ruda-Medium.woff") format("woff");
}
@font-face {
  font-family: "Ruda";
  font-style: normal;
  font-weight: 700;
  src: local("Ruda-Bold"), url("../../fonts/Ruda-Bold.woff") format("woff");
}
@font-face {
  font-family: "Ruda";
  font-style: normal;
  font-weight: 800;
  src: local("Ruda-ExtraBold"), url("../../fonts/Ruda-ExtraBold.woff") format("woff");
}
@font-face {
  font-family: "Ruda";
  font-style: normal;
  font-weight: 900;
  src: local("Ruda-Black"), url("../../fonts/Ruda-Black.woff") format("woff");
}
:root {
  --color-white: #fff;
  --color-black: #121212;
  --color-gray: #1C1C1C;
  --color-mgray: #585858;
  --color-lgray: #A3A3A3;
  --color-primary: #DD9714;
  --color-primary-hover: #A46E0C;
  --color-green: #00CE1F;
  --color-red: #C00000;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Ruda";
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  width: 100%;
  background-color: var(--color-black);
  color: var(--color-white);
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body._lock {
  overflow: hidden;
}

.view {
  opacity: 0;
  transform: translateY(70px);
  transition: transform 1s, opacity 1s;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.custom__container {
  max-width: 1440px;
  padding: 0px 100px;
  margin: 0 auto;
}

.main {
  flex: 1;
}

.header {
  background-color: var(--color-black);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 4;
}
.header__row {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}
.header__row_box {
  display: flex;
  align-items: center;
  max-width: 812px;
  width: 100%;
  gap: 77px;
  justify-content: space-between;
}
.header__nav_menu {
  display: flex;
  gap: 40px;
}
.header__nav_stroke {
  stroke: var(--color-white);
  transition: stroke 0.3s ease-in;
}
.header__nav_tg_fill {
  fill: var(--color-white);
  transition: fill 0.3s ease-in;
}
.header__nav_vk_rect {
  stroke: var(--color-white);
  transition: stroke 0.3s ease-in;
}
.header__nav_link {
  font-size: 16px;
  font-weight: 700;
  line-height: 19.47px;
  color: var(--color-white);
  transition: color 0.3s ease-in;
}
.header__nav_link:hover {
  color: var(--color-primary);
}
.header__nav_social {
  display: none;
}
.header__social {
  display: flex;
  gap: 20px;
}
.header__social_link {
  display: flex;
}
.header__social_link:hover .header__nav_stroke {
  stroke: var(--color-primary);
}
.header__social_link:hover .header__nav_tg_fill {
  fill: var(--color-primary);
}
.header__social_link:hover .header__nav_vk_rect {
  stroke: var(--color-primary);
}
.header__burger {
  display: none;
}

.requests {
  padding-top: 70px;
  margin-bottom: 70px;
}
.requests__head {
  font-family: "Raleway";
  font-size: 47px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 55.18px;
  letter-spacing: 0.056em;
  -webkit-text-stroke: 1px black;
  text-shadow: 2px 1px 0 var(--color-primary);
  margin-bottom: 40px;
}
.requests__table {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
}
.requests__table_head {
  display: contents;
  color: var(--color-lgray);
  font-weight: 700;
  font-size: 18px;
  line-height: 21.91px;
  letter-spacing: 0.056em;
}
.requests__table_head div {
  padding: 10px 20px;
  text-align: left;
  border: 1px solid var(--color-mgray);
}
.requests__table_body {
  display: contents;
  font-weight: 500;
  font-size: 20px;
  line-height: 24.34px;
  letter-spacing: 0.056em;
}
.requests__table_body div {
  padding: 33px 20px;
  text-align: left;
  border: 1px solid var(--color-mgray);
}
.requests__table_status {
  display: flex;
  justify-content: space-between;
}
.requests__table_status-waiting {
  color: var(--color-primary);
}
.requests__table_status-success {
  color: var(--color-green);
}
.requests__table_status-rejected {
  color: var(--color-red);
}
.requests__btn {
  background: transparent;
  max-height: 25px;
}
.requests__btn_block {
  border: none !important;
  padding: 0 !important;
  border: none !important;
  display: flex;
  gap: 15px;
  max-height: 25px;
}

.footer {
  background-color: var(--color-gray);
}
.footer__wrapper {
  border-bottom: 1px solid var(--color-primary);
}
.footer__top_row {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  flex-wrap: wrap;
}
.footer__top_content {
  padding-top: 60px;
  padding-bottom: 71px;
}
.footer__top_item {
  max-width: 305px;
  width: 100%;
}
.footer__top_info {
  max-width: 155px;
}
.footer__logo {
  margin-bottom: 20px;
}
.footer__descr {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: var(--color-lgray);
  margin-bottom: 20px;
}
.footer__addres {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: var(--color-primary);
}
.footer__menu_list {
  display: flex;
  flex-direction: column;
  gap: 6px;
  max-width: 128px;
  width: 100%;
}
.footer__menu_item {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-lgray);
  transition: color 0.3s ease-in;
}
.footer__menu_item:hover {
  color: var(--color-primary);
}
.footer__phone {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: right;
  margin-bottom: 28px;
  color: var(--color-primary);
}
.footer__hours {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  max-width: 152px;
}
.footer__hours_work {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: var(--color-lgray);
}
.footer__bottom_content {
  padding-top: 15px;
  padding-bottom: 15px;
}
.footer__bottom_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}
.footer__bottom_link {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: var(--color-lgray);
}
.footer__bottom_copy {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: var(--color-lgray);
}

@media screen and (max-width: 1100px) {
  .header__row {
    gap: 30px;
  }
  .header__row_box {
    max-width: 251px;
  }
  .header__social {
    display: none;
  }
  .header__burger {
    z-index: 5;
    display: block;
    position: relative;
    width: 40px;
    height: 30px;
    cursor: pointer;
  }
  .header__burger span, .header__burger::before, .header__burger::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: var(--color-primary);
  }
  .header__burger::before, .header__burger::after {
    content: "";
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .header__burger._active span {
    transform: scale(0) translate(0px, -50%);
  }
  .header__burger._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .header__burger._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }
  .header__nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
    position: fixed;
    top: 0;
    right: -100%;
    width: 50%;
    height: 100%;
    background-color: var(--color-black);
    padding: 100px 100px 30px 30px;
    transition: right 0.3s ease 0s;
    overflow: auto;
    z-index: 5;
  }
  .header__nav_menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .header__nav_social {
    display: flex;
    gap: 20px;
  }
  .header__nav._active {
    right: 0;
  }
  .header__nav_background {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
  }
  .header__nav_background._work {
    right: 0;
  }
}
@media screen and (max-width: 950px) {
  .footer__phone {
    text-align: left;
  }
  .footer__hours {
    text-align: left;
  }
  .footer__hours_work {
    text-align: left;
  }
}
@media screen and (max-width: 676px) {
  .custom__container {
    padding: 0 50px;
  }
  .header__row {
    gap: 30px;
  }
  .header__row_box {
    max-width: 150px;
  }
  .header__logo {
    width: 150px;
  }
  .header__burger {
    width: 30px;
    height: 20px;
  }
  .header__nav {
    width: 100%;
    height: 100%;
    background-color: var(--color-black);
    padding: 100px 0px 30px 30px;
    transition: right 0.3s ease 0s;
    overflow: auto;
    z-index: 5;
  }
  .header__nav_link {
    font-size: 22px;
    line-height: 25.47px;
  }
  .footer__top_content {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .footer__top_row {
    gap: 20px;
  }
  .footer__logo {
    width: 150px;
  }
  .footer__descr {
    font-size: 12px;
    line-height: 19px;
  }
  .footer__addres {
    font-size: 12px;
    line-height: 19px;
  }
  .footer__menu_item {
    font-size: 14px;
    line-height: 22px;
  }
  .footer__phone {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 24px;
  }
  .footer__hours {
    font-size: 14px;
    line-height: 22px;
  }
  .footer__hours_work {
    font-size: 14px;
    line-height: 22px;
    max-width: 140px;
  }
  .footer__bottom {
    padding: 10px 0;
  }
  .footer__bottom_row {
    gap: 20px;
  }
}/*# sourceMappingURL=requests.css.map */