:root {
    --color-white: #fff;
    --color-black: #121212;
    --color-gray: #1C1C1C;
    --color-mgray: #585858;
    --color-lgray: #A3A3A3;
    --color-primary: #DD9714;
    --color-primary-hover: #A46E0C;
    --color-green: #00CE1F;
    --color-red: #C00000;
}